.cart-drawer-cont .cart-drawer-head {
  background-color: white !important; }
  .cart-drawer-cont .cart-drawer-head h1 {
    font-family: Muli, Cairo, sans-serif;
    color: #929292 !important; }
  .cart-drawer-cont .cart-drawer-head .close-cart svg {
    fill: #929292 !important; }

.cart-drawer-cont .cart-item-cont .cart-item-pic {
  background-color: transparent !important; }

.cart-drawer-cont .cart-list .cart-subtotal {
  position: relative;
  top: 20px;
  font-family: monospace, Cairo, sans-serif;
  font-size: 18px;
  padding: 10px; }

.cart-drawer-cont .cart-list .action-buttons {
  position: relative;
  top: 50px; }
  .cart-drawer-cont .cart-list .action-buttons button {
    margin: 5px !important;
    min-width: 150px !important;
    border-radius: 5px !important; }
  .cart-drawer-cont .cart-list .action-buttons div span:last-child {
    font-family: Muli, Cairo, sans-serif !important;
    text-transform: none !important; }
  .cart-drawer-cont .cart-list .action-buttons .checkout {
    color: white !important; }
