.cart__checkout-summary {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 500px; }
  .cart__checkout-summary > div {
    flex-grow: 1;
    margin: 1.5em;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #cecece; }
