.products-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%; }
  .products-list .category-title {
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    margin-bottom: 20px; }
    .products-list .category-title h2 {
      display: inline-block;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: 700;
      color: #000;
      margin: 20px 0 10px; }
  .products-list .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; }
    .products-list .products .product {
      flex-basis: 18%;
      margin: 20px 10px; }
